@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root {
    --blue: #6ab2db;
    --black: #111;
    --white: #fff;
    --light-color: #666;
    --light-bg: #eee;
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    --border: .1rem solid rgba(0, 0, 0, .3);


}

* {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    transition: all .2s linear;
}

@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: 2rem;
}

@mixin titleText($titleSize) {
    font-size: $titleSize;
    color: var(--black);
    // text-transform: capitalize;
}

@mixin graphText($graphSize) {
    font-size: $graphSize;
    color: var(--light-color);
    line-height: 1.5;
}

@mixin iconBox() {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    background: var(--light-bg);
    color: var(--black);
    cursor: pointer;
    text-align: center;


    &:hover {
        background: var(--black);
        color: var(--white);
    }

}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        width: 1rem;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--blue);
        border-radius: 5rem;
    }

}

// section styles
section {
    padding: 5rem 10%;
}

// headings 
.heading {
  margin-bottom: 3rem;
  @include titleText(3rem);
  padding-left: 1rem;
  border-left: .4rem solid var(--blue);
}
.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    background: var(--black);
    color: var(--white);
    cursor: pointer;
    font-size: 1.7rem;
    text-transform: uppercase;
    text-decoration: none;


    &:hover {
        background: var(--blue);
        color: var(--black);
    }
}


// animation
@keyframes fadeIn {
    0% {
        top: 50%;
        opacity: 0;
    }
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: var(--box-shadow);
    padding: 1.5rem 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;



    .logo {
        @include titleText(1.5rem);
        text-transform: uppercase;
        letter-spacing: .5rem;
        text-decoration: none;
        font-weight: bold;

        span {
            color: var(--blue);
        }
    }

    .navbar a {
        @include titleText(1.2rem);
        margin: 0 1rem;
        text-decoration: none;

        &:hover {
            color: var(--blue);
        }
    }

    .icons div {
        @include iconBox();
        margin-left: .3rem;
    }

    #menu-btn {
        display: none;
    }

    .search-form {
        position: absolute;
        top: 120%;
        left: 50%;
        transform: translateX(-50%);
        width: 70rem;
        background: var(--white);
        box-shadow: var(--box-shadow);
        padding: 1rem;
        display: none;
        align-items: center;
        gap: 1rem;
        animation: fadeIn .2s linear;

        &.active {
            display: flex;
        }

        input {
            width: 100%;
            padding: 1.2rem 1.4rem;
            background: var(--light-bg);
            font: .6rem;
            color: var(--light-color);
        }

        label {
            font-size: 2.5rem;
            color: var(--black);
            cursor: pointer;
            margin: 0 1rem;

            &:hover {
                color: var(--blue);
            }
        }
    }
}



// media queries
@media (max-width: 1200px) {
    .header {
        padding: 1.5rem 2rem;
    }

    section {
        padding: 3rem 10%;
    }

}

@media (max-width: 768px) {
    .header {
        .search-form {
            width: 90%;
        }

    }
    .home .slide{
        justify-self: center;

        .content{
            text-align: center;

            h3 {
                font-size: 3rem;
            }
        }
    }
}

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    section {
        padding: 3rem 2rem;
    }


    .header {
        #menu-btn {
            display: inline-block;
        }

        .navbar {
            position: absolute;
            top: 99%;
            left: 0;
            right: 0;
            background: var(--white);
            border-top: var(--border);
            border-bottom: var(--border);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

            &.active {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }

            a {
                display: block;
                margin: 2rem;
            }
        }

    }
}

@media (max-width: 450px) {
    .html {
        font-size: 50%;
    }

}

// contact section
.contact-info {
    position: fixed;
    top: 0;
    right: 0;
    width: 30rem;
    background: var(--white);
    // box-shadow: 0 0 0 100vw rgba(0, 0, 0, .7);
    height: 100%;
    text-align: center;
    z-index: 11000;
    padding: 0 0;
    padding-top: 2rem;
    display: none;

    &.active {
        box-shadow: 0 0 0 100vw rgba(0, 0, 0, .7);
        display: block;
    }

    #close-contact-info {
        position: absolute;
        top: 1rem;
        right: 1.5rem;
        cursor: pointer;
        color: var(--black);
        font-size: 4rem;

        &:hover {
            transform: rotate(90deg);
            color: var(--blue);
        }
    }

    .info {
        padding: 2rem 0;

        i {
            @include iconBox();
            margin-bottom: .5rem;
        }

        h3 {
            @include titleText(1.5rem);
            padding: 1rem 0;
        }

        p {
            @include graphText(1.5rem);
        }

        a {
            @include titleText(1.5rem);
            text-decoration: none;
            color: var(--blue);
        }

    }

    .share {
        padding-top: 1rem;
        border-top: var(--border);
        margin-top: 1rem;

        a {
            @include iconBox();
            margin: 0 .3rem;
        }
    }
}

// home section
.home {
    padding: 1.5rem;

    .slide {
        min-height: 60rem;
        display: flex;
        align-items: center;
        position: relative;
        background-size: cover !important;
        background-position: center !important;
        // background-repeat: no-repeat !important;


        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: linear-gradient(90deg, var(--white), transparent);
            opacity: .7;
        }

        .content {
            width: 50rem;
            position: relative;
        }

        h3 {
            @include titleText(4rem);
            text-transform: uppercase;
        }

        p {
            @include graphText(1.9rem);

            padding: 1rem 0;
        }
    }

    // swiper navigation buttons
    .swiper-button-next,
    .swiper-button-prev {
        top: initial;
        bottom: 0;
        left: initial;
        right: 0;
        height: 3.5rem;
        width: 7rem;
        line-height: 7rem;
        font-size: 3rem;
        background: var(--white);
        color: var(--black);

        &:hover {
            background: var(--blue);
            color: var(--white);
        }
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
        font-size: 3rem;
        color: var(--black);
    }

    .swiper-button-prev {
        right: 7rem;
    }
}

// about section
.about {
    .row{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 3rem;
        
        .video{
            flex: 1 1 41rem;
            video{
                width: 100%;
            }

        }
        .content{
            flex: 1 1 41rem;

            h3{
                @include titleText(3rem);
            }

            p{
                @include graphText(1.5rem);
                padding: 1rem 0;
            }

            // .btn{
            //     margin-top: 2rem;
            // }
        }
    }
    .box-container{
        margin-top: 3rem;
        @include grid(16rem);
        align-items: flex-end;
        .box{
            background: var(--light-bg);
            padding: 0.2rem 1rem;
            text-align: center;
           

            i{
                @include iconBox();
                margin-bottom: 1rem;
            }

            h3{
                @include titleText(2.5rem);
                // padding: 1rem 0;
            }

            p{
                @include graphText(1.5rem);
                padding-top: .5rem;
            }
        }
    }
}

// services section
.services {
    background: var(--light-bg);
    .box-container {
        @include grid(25rem);

        .box {
            background: var(--light-bg);
            padding: 3rem;
            text-align: center;
            border: var(--border);
            box-shadow: var(--box-shadow);


            &:hover  img{
                transform: translateY(-1rem);
            }

            img {
                height: 7rem;
                margin-bottom: .5rem;
            }

            h3 {
                @include titleText(1.7rem);
                padding: 1rem 0;
            }

            p {
                @include graphText(1.2rem);
            }
        }
    }
}

// PROJECTS section
.projects {
    background: var(--black);
    .box-container {
        @include grid(30rem);

        .heading {
            color: var(--white);
        }

        .box {
            cursor: initial;
            text-decoration: none;

            &:hover .image img {
                transform: scale(1.1);
            }
        }
        .image {
            height: 40rem;
            overflow: hidden;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                // transition: all .3s linear;
            }

        }

        .content {
           display: flex;
        //    gap: .5rem;
           background: var(--white);
           justify-content: space-between;

           .info {
            padding: .2rem 1rem;

            h3 {
                @include titleText(1.7rem);
                // padding-bottom: .5rem;
            }

            p {
                @include graphText(1.2rem);
            }
           
           }
           i{
            width:8.5rem;
            font-size: 3rem;
            background: var(--blue);
            color: var(--white);
            cursor: pointer;
            text-align: center;
            line-height: 8.5rem;

           }
          
        }
    }

}